name: Deploy Strapi to VPS (Production)

on:
    push:
        branches:
            - main

env:
    IMAGE_NAME: ghcr.io/${{ github.repository }}/strapi
    CONTAINER_NAME: strapi-prod

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GHCR_TOKEN }}

            - name: Build & push production image
              run: |
                  docker build -f Dockerfile.prod -t $IMAGE_NAME:latest .
                  docker push $IMAGE_NAME:latest

            - name: Deploy on VPS
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  script: |
                      docker pull $IMAGE_NAME:latest

                      docker stop $CONTAINER_NAME || true
                      docker rm $CONTAINER_NAME || true

                      docker run -d \
                        --name $CONTAINER_NAME \
                        --restart unless-stopped \
                        -p 1337:1337 \
                        --env-file ${{ secrets.STRAPI_ENV_FILE }} \
                        $IMAGE_NAME:latest
